<app-header></app-header>

<div class="sales-history-container">
  <button class="back-btn" (click)="goBack()">← กลับไปเมนูหลัก</button>

  <h2 class="page-title">ประวัติการขาย License</h2>

  <!-- รายละเอียดผู้ขาย -->
  <div class="seller-info">
    <p><strong>ชื่อผู้ขาย:</strong> {{ model.companyName }}</p>
    <p><strong>รหัสพนักงาน:</strong> {{ model.sellerCode }}</p>
  </div>

  <!-- ตารางประวัติการขาย -->
  <div class="table-wrapper">
    <div class="search-pagination">
      <input type="text" placeholder="ค้นหาองค์กรหรือโปรแกรม.." [(ngModel)]="searchSales" (input)="filterSales()" />
      <button class="save-btn" (click)="goToLicenseRegister()">
        สร้างใบคำสั่งซื้อ
      </button>
    </div>

    <div class="div-table">
    <table class="sales-table">
      <thead>
        <tr>
          <th>ลำดับ</th>
          <th>องค์กร</th>
          <th>โปรแกรม</th>
          <th>แพ๊คเกจ</th>
          <th>จำนวน License</th>
          <th>วันที่ขาย</th>
          <th>ดำเนินการ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of paginatedSales; let i = index">
          <td>{{ (currentSalePage - 1) * saleItemsPerPage + i + 1 }}</td>
          <td>{{ sale.companyName }}</td>
          <td>{{ sale.program }}</td>
          <td>{{ sale.package }}</td>
          <td>{{ sale.licenseCount }}</td>
          <td>{{ sale.createDate | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button class=" detail-btn" (click)="openDrawer(sale)">
              ดูรายละเอียด
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="pagination">
      <button (click)="prevSalePage()" [disabled]="currentSalePage === 1">‹</button>
      <span>หน้า {{ currentSalePage }} / {{ totalSalePages }}</span>
      <button (click)="nextSalePage()" [disabled]="currentSalePage === totalSalePages">›</button>
    </div>
  </div>

  <!-- Drawer Overlay -->
  <div class="drawer-overlay" *ngIf="selectedSale" (click)="closeDrawer()" [class.fade-out]="isClosing"></div>

  <!-- Drawer Panel (Full Screen) -->
  <div class="drawer-full" *ngIf="selectedSale" [class.slide-out]="isClosing">
    <div class="drawer-header">
      <h3>รายละเอียด License</h3>
      <button class="close-btn" (click)="closeDrawer()">×</button>
    </div>

    <div class="drawer-content">
      <div class="drawer-inner">
        <h4 class="org-name">
          {{ selectedSale.companyName }} ({{ selectedSale.program }})

        </h4>
        <div style="
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
">
          <p>จำนวน License ทั้งหมด: {{ selectedSale.licenseCount }}</p>
          <button class="print-btn" (click)="exportAsXLSX()">
            <i class="fa fa-print"></i>
            <span>Export Excel</span>
          </button>
        </div>






        <div class="drawer-table-wrapper">
          <table class="license-table">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>License Key</th>
                <th>สถานะ</th>
                <th>วันที่ Activate</th>
                <th>วันหมดอายุ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lic of listLicenseKey; let i = index">
                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td>{{ lic.licenseKey }}</td>
                <td [class.active]="lic.status === 'A'">{{ lic.status === 'A' ? 'Active แล้ว' : 'Pending' }}</td>
                <td>{{ lic.activateDate | dateFormat}}</td>
                <td>{{ lic.expireDate | dateFormat}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="search-pagination">
          <!-- <input type="text" placeholder="ค้นหา License Key" [(ngModel)]="searchTerm"
            (input)="filterLicenses()" /> -->
          <div class="pagination">
            <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>
            <span>หน้า {{ currentPage }} / {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
