<app-header></app-header>

<div class="sales-history-container">
  <button class="back-btn" (click)="goBack()">← กลับไปเมนูหลัก</button>

  <h2 class="page-title">ประวัติการขาย License</h2>

  <!-- รายละเอียดผู้ขาย -->
  <!-- <div class="seller-info"> -->

  <div class="summary-box">
    <div class="summary-row">
      <div><strong>รหัสผู้ขาย:</strong> {{ model.sellerCode }}</div>
      <div><strong>ชื่อองค์กร:</strong> {{ model.companyName }}</div>
    </div>
  </div>
  <!-- </div> -->


  <div class="seller-info search-pagination flex-wrap gap-3">
    <div class="col">
      ค้นหา
      <input type="text" placeholder="ค้นหาเลขคำสั่งซื้อ รหัสผู้ขาย ..." [(ngModel)]="criteriaModel.keySearch"
        (input)="filterSales()" />
    </div>
    <!-- <div class="col">
      สถานะ
      <select name="" id="" [(ngModel)]="criteriaModel.status" (change)="readSale()">
        <option value="" selected>ทุกสถานะ</option>
        <option value="A" selected>อนุมัติแล้ว</option>
        <option value="N" selected>รอตรวจสอบ</option>
      </select>
    </div> -->
    <div class="col">
      วันที่ลงทะเบียน
      <input type="date" placeholder="ค้นหาหน่วยงาน จังหวัด..." [(ngModel)]="criteriaModel.startDate"
        (change)="filterSales()" />
    </div>
    <div class="col">
      ถึงวันที่
      <input type="date" placeholder="ค้นหาหน่วยงาน จังหวัด..." [(ngModel)]="criteriaModel.endDate"
        (input)="filterSales()" />
    </div>
  </div>

  <!-- ตารางประวัติการขาย -->
  <div class="table-wrapper">
    <!-- <div class="search-pagination">
      <input type="text" placeholder="ค้นหาองค์กรหรือโปรแกรม.." [(ngModel)]="searchSales" (input)="filterSales()" />
    </div> -->

    <div class="table-container">
      <table class="sales-table">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>ดำเนินการ</th>
            <th>เลขที่ใบออเดอร์</th>
            <th>เลขที่ใบสั่งซื้อ (PO)</th>
            <th>เลขที่ใบอนุญาต</th>
            <th>หน่วยงาน</th>
            <th>โปรแกรม</th>
            <th>แพ๊คเกจ</th>
            <th>จำนวน License</th>
            <th>วันที่ขาย</th>
            <!-- <th>ดำเนินการ</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of paginatedSales; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <div class="action-buttons">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-hamburger" matTooltip="จัดการเอกสาร">
                  <mat-icon>menu</mat-icon>
                </button>

                <mat-menu #menu="matMenu" class="custom-menu light-bg">

                  <div>
                    <div class="menu-section-title">รายละเอียด</div>
                    <button mat-menu-item class="menu-item create" (click)="openDrawer(sale)">
                      <mat-icon>visibility</mat-icon>
                      <span>ดูรายละเอียด</span>
                    </button>

                  </div>

                </mat-menu>

              </div>
            </td>
            <td>{{ sale.orderCode }}</td>
            <td>{{ sale.poCode }}</td>
            <td>{{ sale.licenseCode }}</td>
            <td>{{ sale.companyName }}</td>
            <td>{{ sale.program }}</td>
            <td>{{ sale.package }}</td>
            <td>{{ sale.licenseCount }}</td>
            <td>{{ sale.createDate | dateFormat }}</td>
            <!-- <td>
            <button class=" detail-btn" (click)="openDrawer(sale)">
              ดูรายละเอียด
            </button>
          </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <button (click)="prevSalePage()" [disabled]="currentSalePage === 1">‹</button>
      <span>หน้า {{ currentSalePage }} / {{ totalSalePages }}</span>
      <button (click)="nextSalePage()" [disabled]="currentSalePage === totalSalePages">›</button>
    </div>
  </div>

  <!-- Drawer Overlay -->
  <div class="drawer-overlay" *ngIf="selectedSale" (click)="closeDrawer()" [class.fade-out]="isClosing"></div>

  <!-- Drawer Panel (Full Screen) -->
  <div class="drawer-full" *ngIf="selectedSale" [class.slide-out]="isClosing">
    <div class="drawer-header">
      <h3>รายละเอียด License</h3>
      <button class="close-btn" (click)="closeDrawer()">×</button>
    </div>

    <div class="drawer-content">
      <div class="drawer-inner">
        <div class="sale-header">
          <h4 class="org-name">
            {{ selectedSale.companyName }}
            <span class="program-tag">({{ selectedSale.program }})</span>
          </h4>

          <div class="sale-info">
            <p class="license-text">
              จำนวน License ทั้งหมด:
              <span class="count">{{ selectedSale.licenseCount }}</span>
            </p>

            <button class="print-btn" (click)="exportAsXLSX()">
              <i class="fa fa-print"></i>
              <span class="btn-text">พิมพ์เอกสาร</span>
            </button>
          </div>
        </div>


        <div class="table-container">
          <table class="license-table">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>License Key</th>
                <th>สถานะ</th>
                <th>วันที่ Activate</th>
                <th>วันหมดอายุ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lic of listLicenseKey; let i = index">
                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td>{{ lic.licenseKey }}</td>
                <td [class.active]="lic.status === 'A'">{{ lic.status === 'A' ? 'Active แล้ว' : 'Pending' }}</td>
                <td>{{ lic.activateDate | dateFormat}}</td>
                <td>{{ lic.expireDate | dateFormat}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="search-pagination">
          <!-- <input type="text" placeholder="ค้นหา License Key" [(ngModel)]="searchTerm"
            (input)="filterLicenses()" /> -->
          <div class="pagination">
            <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>
            <span>หน้า {{ currentPage }} / {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>