<div class="content-bottom">
  <button class="btn-bot-print" (click)="printPDF()"> <i class="fa fa-print"></i>
    พิมพ์ / Print</button>
</div>
<div class="content-left">

  <button class="back-btn" (click)="goBack()">← กลับไปเมนูหลัก</button>
</div>

<div class="license-container" id="license-content">
  <div class="license-header">
    <img src="assets/logoMain2.png" alt="We-LAP Logo" class="logo" />
    <div class="header-text">
      <h2>Software License Certificate</h2>
      <p>We Build & Operate</p>
    </div>
  </div>

  <hr />

  <!-- Transaction Information -->
  <div class="section info-row">
    <div>
      <p><strong>Transaction Type:</strong> {{ model.package }} - {{model.program}}</p>
      <p><strong>Service Duration:</strong> 1 Year</p>
      <p><strong>Period:</strong> {{ model.period }}</p>
    </div>
    <div class="right-info">
      <p><strong>Order Number:</strong> {{ model.licenseCode }}</p>
    </div>
  </div>

  <!-- End User Information -->
  <div class="section user-section">
    <div class="column">
      <h3>End User Information</h3>
      <p><strong>Company:</strong> {{ model.companyName }}</p>
      <!-- <p><strong>Contact:</strong> {{ model.contact }}</p> -->
      <p><strong>Email:</strong> {{ model.companyEmail }}</p>
      <p><strong>Phone:</strong> {{ model.companyPhone }}</p>
      <p><strong>Address:</strong> {{ model.companyAddress }}</p>
    </div>

    <!-- Partner Information -->
    <div class="column">
      <h3>Partner Information</h3>
      <p><strong>Company:</strong> {{ modelVendor.companyName }}</p>
      <p><strong>Contact:</strong> {{ modelVendor.contactName }}</p>
      <p><strong>Email:</strong> {{ modelVendor.email }}</p>
      <p><strong>Phone:</strong> {{ modelVendor.phone }}</p>
      <p><strong>Address:</strong> {{ modelVendor.addressLine }}</p>
    </div>
  </div>

  <!-- License Information -->
  <div class="section">
    <h3>License Key Information</h3>
    <table>
      <thead>
        <tr>
          <th style="width: 10%;">No</th>
          <th>License</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of listLicenseKey; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ key.licenseKey }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer">
    <p><strong>Support Contact:</strong> support@webuild.co.th | Tel: 02 272 2575</p>
    <p><strong>Address:</strong> 19/1-2 Wangdek Building, 8th floor Soi Yasoob1, ถนน วิภาวดีรังสิต Jompol, เขตจตุจักร กรุงเทพมหานคร 10900</p>
  </div>
</div>
<!-- 
<div class="btn-area">
  <button (click)="printPDF()">🖨️ ปริ้นใบ License</button>
</div> -->
