<div class="main-footer" data-aos="fade-in">
  <footer class="footer">
    <div class="footer-container col-sm-12 col-md-6 col-lg-4">
      <div class="footer-column">
        <h3>ที่อยู่</h3>
        <p>บริษัท วี บิลด์ แอนด์ โอเปอร์เรต จำกัด</p>
        <p>เลขที่ 19/1-2 ชั้น 8 ซ.ยาสูบ ถนนวิภาวดีรังสิต แขวงจอมพล เขตจตุจักร กรุงเทพมหานคร 10900</p>
      </div>
    </div>

    <div class="footer-container col-sm-12 col-md-6 col-lg-4">
      <div class="footer-column">
        <h3>ติดต่อ</h3>
        <p> <a href="mailto:support@webuild.co.th">support@webuild.co.th</a></p>
        <p> 02-272-2575</p>

        <div class="footer-column-end">
          <h3>Social Media</h3>
          <div class="social-icons">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook">
              <img src="assets/facebook-white.png" alt="Facebook" />
            </a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
              <img src="assets/instagram-white.png" alt="Instagram" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-container col-sm-12 col-md-12 col-lg-4">
      <img src="assets/logo.png" class="img-logo" alt="Facebook" />
    </div>

    <!-- <div class="footer-bottom">
        © 2025 We-Lap. All rights reserved.
    </div> -->
  </footer>

</div>

<div class="footer-bottom">
  © 2025 We Build. All rights reserved.
</div>
